body {
    margin: 0;
    overflow: hidden;
    background-color: black;
}

canvas {
    display: block;
}

#textContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(0, 123, 255, 0.6);
    font-family: 'Orbitron', sans-serif;
    font-size: 36px;
    font-weight: bold;
    pointer-events: none;
	z-index: 10;
}

#linkedinContainer {
    position: absolute;
    top: calc(50% + 30px);  /* Reduced vertical offset */
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

#linkedinContainer a {
	color: rgba(0, 100, 200, 0.8); /* Darker blue, less transparent */
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    font-size: 48px;
}


#linkedinContainer a:hover{
	color: rgba(0, 123, 255, 1);
}
